.button-container {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

button,
.button,
a.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.125rem;
  margin-bottom: 0.3125rem;
  text-align: center;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  appearance: none;
  cursor: pointer;
  outline: none;

  /* variants */

  &.outline {
    background: transparent;
    box-shadow: none;
    padding: 0.5rem 1.125rem;

    :hover {
      transform: none;
      box-shadow: none;
    }
  }

  &.primary {
    box-shadow: 0 0.25rem 0.375rem rgba(50, 50, 93, .11), 0 0.0625rem 0.1875rem rgba(0, 0, 0, .08);

    &:hover {
      box-shadow: 0 0.125rem 0.375rem rgba(50, 50, 93, .21), 0 0.0625rem 0.1875rem rgba(0, 0, 0, .08);
    }
  }

  &.link {
    background: none;
    font-size: 1rem;
  }


  /* sizes */

  &.small {
    font-size: .8rem;
  }

  &.wide {
    min-width: 12.5rem;
    padding: 0.875rem 1.5rem;
  }
}

a.read-more,
a.read-more:hover,
a.read-more:active {
  display: inline-flex;
  background: none;
  box-shadow: none;
  padding: 0;
  margin: 1.25rem 0;
  max-width: 100%;
}

.code-toolbar {
  margin-bottom: 1.25rem;

  .toolbar-item a {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.1875rem 0.5rem;
    margin-bottom: 0.3125rem;
    text-align: center;
    font-size: 0.8125rem;
    font-weight: 500;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    appearance: none;
    cursor: pointer;
    outline: none;
  }
}
