{%- if page.translations -%}
{%- set translations = page.translations -%}
{%- elif section.translations -%}
{%- set translations = section.translations -%}
{%- else -%}
{%- set translations = [] -%}
{%- endif -%}

<!DOCTYPE html>
<html lang="{{ lang }}" prefix="og: https://ogp.me/ns#">

<head>
	<title>{%- block title -%}{%- endblock title -%}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1">
	<!--Unsafe-inline to fix with css syntax highlighting -->
	<meta http-equiv="Content-Security-Policy"
		content="default-src 'none'; script-src 'self'; style-src 'self' 'unsafe-inline'; font-src 'self'; img-src 'self'; frame-src 'self' https://open.spotify.com https://www.youtube.com; connect-src 'none'; base-uri 'self'; form-action 'self';">

	<meta name="color-scheme" content="dark light">
	<meta name="theme-color" media="(prefers-color-scheme: light)" content="#FFFFFF">
	<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#1D212C">

	<link rel="icon" href='{{ get_url(path="favicon.ico") }}'>

	{%- if current_url -%}
	<link rel="canonical" href="{{ config.extra.site_url ~ current_url | safe }}">
	{%- endif -%}

	{%- for translation in translations -%}
	<link rel="alternate" href="{{ config.extra.site_url ~ translation.permalink | safe }}" hreflang="{{ translation.lang }}">
	{%- if translation.lang == config.default_language -%}
	<link rel="alternate" href="{{ config.extra.site_url ~ translation.permalink | safe }}" hreflang="x-default">
	{%- endif -%}
	{%- endfor -%}

	<link rel="alternate" type="application/rss+xml" title="Venator RSS Feed" href='{{ get_url(path="blog/atom.xml") }}'>

	<meta property="og:image" content='{{ get_url(path="og-image.png") }}'>

	{%- block head_meta -%}
	{%- endblock head_meta -%}

	<link rel="stylesheet" href='{{ get_url(path="style.css") }}' />
	<script src='{{ get_url(path="nav.js") }}'></script>
</head>

<body>
	{%- include "partials/header.html" -%}
	{%- include "partials/nav.html" -%}

	<main>
		{%- block content -%}
		{%- endblock content -%}
	</main>

	{%- include "partials/footer.html" -%}
</body>

</html>
