{%- extends "base.html" -%}

{%- block title -%}
{{ page.title }} | {{ config.title }}
{%- endblock -%}

{%- block head_meta -%}

{%- if page.description -%}
<meta name="description" content="{{ page.description }}">
<meta property="og:description" content="{{ page.description }}">
{%- elif page.summary -%}
<meta name="description" content="{{ page.summary | striptags }}">
<meta property="og:description" content="{{ page.summary | striptags }}">
{%- endif -%}

<meta property="og:title" content="{{ page.title }} | {{ config.title }}">
<meta property="og:type" content="article">
<meta property="og:url" content="{{ page.permalink | safe }}">

<meta name="twitter:card" content="summary_large_image">
{%- endblock head_meta -%}

{%- block content -%}
<article class="post__container">
	<h1 class="post__title"><a href="{{ page.permalink }}" class="post__link">{{ page.title }}</a></h1>

	<footer class="post__footer">
		{%- if page.date -%}
		{{ page.date | date(format="%Y-%m-%d") }}
		{%- endif -%}

		{%- if page.taxonomies and page.taxonomies.tags -%}
		<span class="post__footer-tags">
			:: {{ trans(key="tag_tags", lang=lang) }}:&nbsp;
			{%- for tag in page.taxonomies.tags | sort | unique(case_sensitive=false) -%}
			<a href="{{ get_taxonomy_url(kind='tags', name=tag, lang=page.lang) }}">#{{ tag }}</a>
			{%- if not loop.last -%}{{ " " }}{%-endif -%}{# blank space between tags #}
			{%- endfor -%}
		</span>
		{%- endif -%}
	</footer>

	<div class="post__content">
		{{ page.content | safe }}
	</div>
</article>
{%- if page.lower or page.higher -%}
<nav class="post__pagination">
	<span class="post__pagination-title">{{ trans(key="post_view_navigation_prompt", lang=lang) }}</span>
	<hr />
	<div class="post__pagination-links">
		{%- if page.lower -%}
		<a href="{{ page.lower.permalink }}" class="post__pagination-link">
			←&nbsp;{{ page.lower.title }}
		</a>
		{%- endif -%}
		{%- if page.higher -%}
		<a href="{{ page.higher.permalink }}" class="post__pagination-link">
			{{ page.higher.title }}&nbsp;→
		</a>
		{%- endif -%}
	</div>
</nav>
{%- endif -%}
{%- endblock content -%}
